  <div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between">
      <h2 class="blog-header-logo text-dark" >Jonatas da Luz</h2>
      <%= link_to "Paginal inicial", root_path, class: 'p-2 text-muted' %>
      <%= link_to "Sobre", about_path, class: 'p-2 text-muted' %>
      <%= link_to "Contato", contact_path, class: 'p-2 text-muted' %>
      <%= link_to "Blog", blogs_path, class: 'p-2 text-muted' %>
      <%= login_helper 'p-2 text-muted' %>
    </nav>
  </div>

