<div class="<%= location %>">
<div><%= link_to "Paginal inicial", root_path %></div>
<div><%= link_to "Sobre", about_path %></div>
<div><%= link_to "Contato", contact_path %></div>
<div><%= link_to "Blog", blogs_path %></div>
<div><%= link_to "Portfolio", portfolios_path %></div>

</div>